*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: rgba(26, 11, 46, 1);
}
/* nav section */
nav{
    width: 80%;
    /* border: 1px solid rebeccapurple; */
    margin: 0 auto ;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
nav button{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px ;
    background: linear-gradient(
    47.64deg,
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
nav button img{
    background: transparent;
}
.hamburger-menu{
    display: none;
}
/* hero section */
.hero{
    background: url(./assets/hero-bg.png) center ;
    min-height: 80vh;
    width: 100%;
    border-top: 2px solid rgb(82, 61, 109);
}









/* for responsive */

@media (max-width: 576px) {
    nav{
        width: 100%;
    }
    nav ul, 
    nav button{
        display: none;
    }
    .hamburger-menu{
    display: inline;
    }
    .heor{
        min-height: 50vh;
    }

}