*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: rgba(26, 11, 46, 1);

}
body{
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
}
/* nav section */
nav{
    width: 80%;
    /* border: 1px solid rebeccapurple; */
    margin: 0 auto ;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
nav button{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px ;
    background: linear-gradient(
    47.64deg,
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
nav button img{
    background: transparent;
}
.hamburger-menu{
    display: none;
}
/* hero section */

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #3f3939;
    flex-direction: column;
}
.hero-bg{
    /* width: 98%; */
    background: transparent;
}
.mic-circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent ;
    margin-top: -9rem;
}
.hero-circle{
    position: relative;
    background: transparent;
    /* width: 80%; */
    
}
.microphone{
    /* width: 85%; */
    position: absolute;
    background: transparent;
    
}

.text{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: -20rem;
    background: transparent;
    padding: 50px;
    
}
.text h1{
    font-size: 3.9rem;
    font-weight: 800;
    background: transparent;
}
.text p{
    background: transparent;
    font-size: 1rem;
    font-weight: 400;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: transparent;
}
.btn-1{
    padding: 12px 20px;
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 1);
}
.btn-1 img{
    background: transparent;
}
.btn-2{
    padding: 12px 20px;
    background: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid  rgba(0, 255, 136, 1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* for responsive */

@media (max-width: 576px) {
    nav{
        width: 100%;

    }
    nav ul, 
    nav button{
        display: none;
    }
    .hamburger-menu{
    display: inline;
    padding: 0 1rem;
    }
    /* hero section */
    .hero-bg{
    width: 98%;
    background: transparent;
    }
    .mic-circle{
        margin-top: -15rem;
    }
    .hero-circle{
    width: 25vw;
    }
    .microphone{
    width: 8vw;
    }
    .text{
    /* display: none; */
    margin: -5rem auto 0;
    }
    .text h1{
    font-size: 3rem;
    font-weight: 800;
    }
    .text p{
    font-size: 1rem;
    font-weight: 400;
    }

    
}