*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: rgba(26, 11, 46, 1);

}
body{
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    background: transparent;
}
/* nav section */
nav{
    width: 80%;
    /* border: 1px solid rebeccapurple; */
    margin: 0 auto ;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
nav button{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px ;
    background: linear-gradient(
    47.64deg,
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
nav button img{
    background: transparent;
}
.hamburger-menu{
    display:none;
}
/* hero section */

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 1);
    flex-direction: column;
}
.hero-bg{
    background-image: url(./assets/hero-bg.png);
    background: transparent;
    background-position: center;
    background-size: cover;
}
.mic-circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent ;
    margin-top: -9rem;
}
.hero-circle{
    position: relative;
    background: transparent;
    /* width: 80%; */
    
}
.microphone{
    /* width: 85%; */
    position: absolute;
    background: transparent;
    
}
.newbtn{
    position: absolute;
    background: transparent;
    width: 50%;
    top: 10px;
    left: 240px;
}

.text{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: -20rem;
    background: transparent;
    padding: 50px;
    
}
.text h1{
    font-size: 3.9rem;
    font-weight: 800;
    background: transparent;
}
.text p{
    background: transparent;
    font-size: 1rem;
    font-weight: 400;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: transparent;
}
.btn-1{
    padding: 12px 20px;
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 1);
}
.btn-1 img{
    background: transparent;
}
.btn-2{
    padding: 12px 20px;
    background: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid  rgba(0, 255, 136, 1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* about section */
.about{
    width: 80%;
    margin: 40px auto;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.about h1{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 20px 0;
    font-size: 3.9rem;
    font-weight: 700;
}
.about p{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 80px 0;
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
}

/* rating section */
.rating{
  width: 80%;
  margin: 0 auto 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 20px;
}

.rating-box h2{
  font-size: 3.9rem;
  font-weight: 700;
  color: rgba(0, 255, 136, 1);
}

.rating-box p{
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  /* text-align: center; */
}

/* why choose */
.whychoose{
    /* width: 1600px; */
    background-color: rgba(35, 14, 61, 1);
    padding: 20px;
    /* border: 5px solid blue; */
        
    }
    .whychoose h1{
    background-color: rgba(35, 14, 61, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 3.9rem;
    font-weight: 700;
    padding: 120px 0 50px ;

    }
    .whychoose .choose {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background: transparent;
}

 .whychoose .choose .card{
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4)
    
}
.whychoose .choose .card h2{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 700;
    background: transparent;
    margin: 20px 0;
}
.whychoose .choose .card p{
    background: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
}
.whychoose .choose .card img{
    
    background: transparent;
}
.whychoose .choose .card:first-child{
    grid-row: span 2 ;
    padding: 100px 40px;
}
.whychoose .choose .card:nth-child(2){
    grid-column: span 2 ;
}
.whychoose .choose .card:nth-child(3){
    grid-column: span 2 ;
}
.whychoose .choose .card:nth-child(4){
    grid-column: span 2 ;
}
/* features  */
.feature{
    width: 80%;
    margin: 0 auto;
}
.video{
    background: rgba(26, 11, 46, 1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.feature h1{
    font-size: 3.9rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 50px 0;
}
.videoCard{
    width: 25rem;
    /* border: 2px solid red; */
    border-radius: 24px ;
    background: rgba(37, 13, 68, 1);
    grid-row: span 1;
}
.videoCard iframe{
    width: 100%;
    border-radius:24px 24px 0 0 ;
    background: transparent;
}
.videoCard h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding: 10px 24px;
    background: transparent;
}
.videoCard p{
    background: transparent;
    padding: 0 24px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}
.time{
    background: transparent;

}
.time p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 24px;
    text-align: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
}





/* for responsive */

@media (max-width: 576px) {
    nav{
        width: 100%;

    }
    nav ul, 
    nav button{
        display: none;
    }
    .hamburger-menu{
    display: inline;
    padding: 0 1rem;
    }
    /* hero section */
    .hero-bg{
    width: 98%;
    background: transparent;
    }
    .mic-circle{
        margin-top: -16rem;
    }
    .hero-circle{
    width: 22vw;
    }
    .microphone{
    width: 7vw;
    }
    .newbtn{
    width: 50%;
    top: 10px;
    left: 75px;
    }
    .text{
    /* display: none; */
    margin: -5rem auto 0;
    }
    .text h1{
    font-size: 3rem;
    font-weight: 800;
    }
    .text p{
    font-size: 1rem;
    font-weight: 400;
    }
    /* about */
    .about{
        width: 100%;
        margin: 0;
    }
    .about h1{
    font-size: 2.5rem;
    font-weight: 700;
    }
    .about p{
    width: 90%;
    }
 /* rating */
    .rating{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    }
    .rating-box h2{
    font-size: 40px;
    }

    /* why choose */
    .whychoose h1{
        font-size: 2.5rem;
    }
    .whychoose .choose {
        grid-template-columns: repeat(2, 1fr);
    }
    .whychoose .choose .card:first-child{
    grid-column: span 2 ;
    padding:  40px;
    }
    .whychoose .choose .card:last-child{
    grid-column: span 2 ;
    padding:  40px;
    }
    /* feature */
    .feature h1{
        font-size: 40px;
    }
     .feature .video{
    grid-template-columns: repeat(1, 1fr);
    }
    .feature .video:nth-child(1){
    grid-column: auto;
    }
}