*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}
body{
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
    background: transparent;
    background: rgba(26, 11, 46, 1);
}
/* nav section */
header{
    background: rgba(26, 11, 46, 1);

}
nav{
    width: 80%;
    /* border: 1px solid rebeccapurple; */
    margin: 0 auto ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
nav button{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px ;
    background: linear-gradient(
    47.64deg,
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
nav button img{
    background: transparent;
}
.hamburger-menu{
    display:none;
}
/* hero section */

.hero{
    position: relative;
    display: flex;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 1);
    flex-direction: column;
    background: rgba(26, 11, 46, 1);
}
.hero-bg{
    background-image: url(./assets/hero-bg.png);
    background: transparent;
    background-position: center;
    background-size: cover;
}
.mic-circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent ;
    top: 100px;
    /* bottom: 0; */
}
.hero-circle{
    position: relative;
    background: transparent;
    /* width: 80%; */
    
}
.microphone{
    /* width: 85%; */
    position: absolute;
    background: transparent;
    
}
.newbtn{
    position: absolute;
    background: transparent;
    width: 50%;
    top: 10px;
    left: 240px;
    cursor: pointer;
    animation: bounce 1.8s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}
.text{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: -200px;
    background: transparent;
    padding: 0 50px;
    
}
.text h1{
    font-size: 3.9rem;
    font-weight: 800;
    background: transparent;
}
.text p{
    background: transparent;
    font-size: 1rem;
    font-weight: 400;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: transparent;
}
.btn-1{
    padding: 12px 20px;
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 1);
}
.btn-1 img{
    background: transparent;
}
.btn-2{
    padding: 12px 20px;
    background: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid  rgba(0, 255, 136, 1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* about section */
.about{
    width: 80%;
    margin: 40px auto;
    /* background-color: rgba(145, 0, 248, 1); */
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.about h1{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 20px 0;
    font-size: 3.9rem;
    font-weight: 700;
}
.about p{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 80px 0;
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
}

/* rating section */
.rating{
  width: 80%;
  margin: 0 auto 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 20px;
}

.rating-box h2{
  font-size: 3.9rem;
  font-weight: 700;
  color: rgba(0, 255, 136, 1);
}

.rating-box p{
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  /* text-align: center; */
}

/* why choose */
.whychoose{
    /* width: 1600px; */
    background-color: rgba(35, 14, 61, 1);
    padding-bottom: 100px;
    /* margin-bottom: 500px; */
    /* border: 5px solid blue; */
        
    }
    .whychoose h1{
    background-color: rgba(35, 14, 61, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 3.9rem;
    font-weight: 700;
    padding: 120px 0 50px ;

    }
    .whychoose .choose {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background: transparent;
}

 .whychoose .choose .card{
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4)
    
}
.whychoose .choose .card h2{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 700;
    background: transparent;
    margin: 20px 0;
}
.whychoose .choose .card p{
    background: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
}
.whychoose .choose .card img{
    
    background: transparent;
}
.whychoose .choose .card:first-child{
    grid-row: span 2 ;
    padding: 100px 40px;
}
.whychoose .choose .card:nth-child(2){
    grid-column: span 2 ;
}
.whychoose .choose .card:nth-child(3){
    grid-column: span 2 ;
}
.whychoose .choose .card:nth-child(4){
    grid-column: span 2 ;
    /* margin-bottom: 200px; */
}
/* features  */
.feature{
    width: 80%;
    margin: 0 auto;
}
.video{
    background: rgba(26, 11, 46, 1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.feature h1{
    font-size: 3.9rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 50px 0;
}
.videoCard{
    width: 100%;
    max-width: 400px;
    /* border: 2px solid red; */
    border-radius: 24px ;
    background: rgba(37, 13, 68, 1);
    grid-row: span 1;
}
.videoCard iframe{
    width: 100%;
    border-radius:24px 24px 0 0 ;
    aspect-ratio: 16 / 9;
    height: auto;
    background: transparent;
}
.videoCard h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding: 10px 24px;
    background: transparent;
}
.videoCard p{
    background: transparent;
    padding: 0 24px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}
.time{
    background: transparent;

}
.time p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 24px;
    text-align: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
}


.host{
    width: 80%;
    margin: 0 auto;
}
.host h1{
    font-size: 3.9rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 60px;
}

.meetHost{
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}
.meetHost img{
    background: transparent;
}
.hostext h2{
    /* background-color: rgba(53, 17, 101, 0.4); */
    /* background: transparent; */
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
}
.hostext p{
    /* background-color: rgba(53, 17, 101, 0.4); */
    /* opacity: 0.6; */
    color: rgb(134, 133, 133);
    
}
/* .icon{
    background-color: rgba(53, 17, 101, 0.4); 
} */
.icon img{
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    margin-top: 10px;
    padding: 10px ;
}
/* footer section */
footer{
    margin-top: 100px;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

/* Logo */
footer img{
    width: 18em;
    background: transparent;
}

/* Icons container */
footer .iconfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;   
    background: transparent;
}

/* Each item */
footer .iconfooter h3{
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background: transparent;
}

footer h3 img{
    width: 22px;
}

footer p{
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
/* for responsive */

@media (max-width: 576px) {
    nav{
        width: 100%;
        padding: 15px;
    }
    nav ul, 
    nav button{
        display: none;
    }
    .hamburger-menu{
    display: block;
    padding: 0 1rem;
    }
    /* hero section */
    .hero{
        padding: 40px 10px;
    }
    .hero-bg{
    width: 98%;
    background: transparent;
    }
    .mic-circle{
        /* margin-top: 20px; */
        top: 70px;
    }
    .hero-circle{
    width: 120px;
    }
    .microphone{
    width: 40px;
    }
    .newbtn{
    width: 50%;
    top: 10px;
    left: 75px;
    }
    .text{
    /* display: none; */
    margin: -4rem auto 0;
    }
    .text h1{
    font-size: 2.5rem;
    font-weight: 800;
    }
    .text p{
    font-size: 1rem;
    font-weight: 400;
    }
    /* about */
    .about{
        width: 100%;
        margin: 0;
    }
    .about h1{
    font-size: 2.2rem;
    font-weight: 700;
    }
    .about p{
    width: 90%;
    }
 /* rating */
    .rating{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    }
    .rating-box h2{
    font-size: 40px;
    }

    /* why choose */
    .whychoose h1{
        font-size: 2.5rem;
    }
    .whychoose .choose {
        grid-template-columns: 1fr;
    }
    .whychoose .choose .card:first-child{
    grid-column: span 1 ;
    padding:  40px;
    }
    .whychoose .choose .card:last-child{
    grid-column: span 2 ;
    padding:  40px;
    }
    /* feature */
    .feature h1{
        font-size: 40px;
    }
     .feature .video{
    grid-template-columns: repeat(1, 1fr);
    }
    .feature .video:nth-child(1){
    grid-column: auto;
    }
    .host h1{
        font-size: 48px;
    }
    .meetHost{
    display: flex;
    flex-direction: column;
    }
    .hostext {
        text-align: center;
    }
   
    /* footer */
    footer{
        background-size: 100% 250px;
        background-repeat: no-repeat;

    }

    footer img{
        width: 10em;  
    }

    footer .iconfooter{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       align-items: center;
       gap: 0;
    }

    footer .iconfooter h3{
        font-size: 12px;
    }
    footer .iconfooter h3 img{
        width: 10px;
    }

    footer p{
        font-size: 10px;
        padding: 0 10px;
    }


}